.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 7px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    &.btn-primary{
        background-color: #4A3F3C;
        color: white;
        border: 1px solid #4A3F3C;
        &:hover{
            background-color: #211D1C;
            color: white;
            border: 1px solid #211D1C;
        }
    }
}