body{
  font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5{
  color: #4A3F3C;
  font-weight: bold;
}
p{
  color: #4A3F3C;;
  opacity: .9;
}
.section-container{
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 30px;
}
.header-bg{
  background-image: url("./images/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.down-option{
  width: 75px;
  bottom: 0;
  position: absolute;
  left: 60px;
  a{
    transition: transform 250ms, opacity 400ms;

    &:hover{
      transform: scale(1.2);
      opacity: 0;
    }
  }
  
}
.objet-bg{
  background-image: url(./images/curvas.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bg-play{
  background-image: url(./images/play.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bg-section-1{
  background-image: url("./images/wall-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}
.title-section{
  display: block;
  position: relative;
  margin: auto;
  padding: 0px 30px;
  h2,h3,h4,h5{
    color: #4A3F3C;
    font-weight: 700;
    text-align: center;
    padding-bottom: 50px;
  }
  p{
    text-align: center;
    margin-top: -42px;
  }
  img{
    width: 200px;
    display: block;
    margin: auto;
  }
}
.bg-setion-2{
  background: rgb(245,243,236);
  background: linear-gradient(360deg, rgba(245,243,236,1) 0%, rgba(181,176,167,1) 100%);
}
.block-columns{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  // margin-bottom: 30px;
  &.block-columns--center{
    justify-content: space-evenly;
  }
  .block{
    display: flex;
    flex-direction: column;
    &.block-xs-sm-hide{
      @media screen and (max-width:991.98px){
        display: none;
      }
    }
    &.block-md-xl-hide{
      @media screen and (min-width:992px){
        display: none;
      }
    }
  }
}
.list-item{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  .list-head{
    font-size: 16px;
    font-weight: 600;
  }
  .list-descrip{
    font-size: 16px;
    font-family: 400;
  }
}
.social-media-container{
  display: flex;
  flex-direction: column;
  .social-media-group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .icon-media{
      width: 36px;
      margin-right: 5px;
    }
  }

}
// .post{
//   height: 100vh;
//   @media screen and(max-width:991.99px){
//     height: 100%;
//   }
// }
.autor-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  align-items: baseline;
  margin-bottom: 5px;
  .autor-text{
    margin-left: 14px;
    .autor-name{
      font-weight: 800;
      color: #334652;
      margin-bottom: 0px;
    }
    .autor-date{
      font-size: 12px;
      color: #334652;
      opacity: .6;
    }
  }
}


.text-center-mobile{
  text-align: left;
  @media screen and(max-width:991.99px){
    text-align: center; 
  }
}

.image-item{
  position: relative;
  width: 250px;
  height: 250px;
  margin-bottom: 15px;
  &:hover{
    background-color: #4A3F3C;
    opacity: 1;
  }
  &:hover .image {
    opacity: 0.8;
  }
  &:hover .middle {
    opacity: 1;
  }
  .img-thumbnail{
    opacity: 1;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  .middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    h3{
      color: white;
      font-weight: 800;
      font-size: 24px;
      text-shadow: 0 2px 4px rgba(0,0,0,0.50);
    }
    p{
      color: white;
      font-weight: 600;
      font-size: 14px;
      text-shadow: 0 2px 4px rgba(0,0,0,0.50);
    }
  }
}

.bg-darkest{
  background-color: black;
}
.bg-brown{
  background-color: #070200;
}
@import "./components/navbar-main.scss";
@import "./components/avatar.scss";
@import "./components/buttons.scss";
@import "./components/counter.scss";
@import "./components/cards.scss";
@import "./components/label.scss";
